<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        Tabela:
        <table>
        {% for user in users: %}
            <tr>
                <td>{% print user.user_first_name %}</td>
                <td>{% print user.user_last_name %}</td>
                <td>{% print user.user_account %}</td>
                <td>{% print user.user_email %}</td>
                <td>{% print user.user_date_created %}</td>
                <td>Delete or Update</td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>